In [9]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

sns.set_style("ticks")
%matplotlib inline

In [10]:
# python -m xport DEMO_H.XPT > DEMO_H.csv
DEMO_H = pd.read_csv('/home/cyborx/Projects/NHANES-CARIES-RESEARCH/data/messy/DEMO_H.csv', index_col=False)
DEMO_H.head()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,DMDHREDU,DMDHRMAR,DMDHSEDU,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR
0,73557.0,8.0,2.0,1.0,69.0,NaN,4.0,4.0,1.0,NaN,...,3.0,4.0,NaN,13281.237386,13481.042095,1.0,112.0,4.0,4.0,0.84
1,73558.0,8.0,2.0,1.0,54.0,NaN,3.0,3.0,1.0,NaN,...,3.0,1.0,1.0,23682.057386,24471.769625,1.0,108.0,7.0,7.0,1.78
2,73559.0,8.0,2.0,1.0,72.0,NaN,3.0,3.0,2.0,NaN,...,4.0,1.0,3.0,57214.803319,57193.285376,1.0,109.0,10.0,10.0,4.51
3,73560.0,8.0,2.0,1.0,9.0,NaN,3.0,3.0,1.0,119.0,...,3.0,1.0,4.0,55201.178592,55766.512438,2.0,109.0,9.0,9.0,2.52
4,73561.0,8.0,2.0,2.0,73.0,NaN,3.0,3.0,1.0,NaN,...,5.0,1.0,5.0,63709.667069,65541.871229,2.0,116.0,15.0,15.0,5.00

In [11]:
DEMO_H.tail()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,DMDHREDU,DMDHRMAR,DMDHSEDU,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR
10170,83727.0,8.0,2.0,1.0,26.0,NaN,2.0,2.0,2.0,NaN,...,3.0,NaN,NaN,27141.631824,28115.568221,1.0,104.0,77.0,77.0,NaN
10171,83728.0,8.0,2.0,2.0,2.0,24.0,1.0,1.0,2.0,24.0,...,3.0,1.0,3.0,15274.475360,16512.138781,1.0,107.0,8.0,8.0,1.95
10172,83729.0,8.0,2.0,2.0,42.0,NaN,4.0,4.0,2.0,NaN,...,5.0,3.0,NaN,24122.248900,26902.344381,1.0,104.0,7.0,7.0,3.66
10173,83730.0,8.0,2.0,1.0,7.0,NaN,2.0,2.0,1.0,84.0,...,4.0,1.0,3.0,25521.878546,26686.025573,2.0,109.0,6.0,6.0,1.05
10174,83731.0,8.0,2.0,1.0,11.0,NaN,5.0,6.0,1.0,140.0,...,5.0,1.0,5.0,8930.180154,9700.873491,2.0,106.0,15.0,15.0,5.00

In [12]:
# Se filtra toda columna la cual tenga valores faltantes superiores a 80
DEMO_H.isnull().mean()

SEQN        0.000000
SDDSRVYR    0.000000
RIDSTATR    0.000000
RIAGENDR    0.000000
RIDAGEYR    0.000000
RIDAGEMN    0.933857
RIDRETH1    0.000000
RIDRETH3    0.000000
RIDEXMON    0.035577
RIDEXAGM    0.585946
DMQMILIZ    0.384668
DMQADFC     0.946634
DMDBORN4    0.000000
DMDCITZN    0.000393
DMDYRSUS    0.812482
DMDEDUC3    0.724521
DMDEDUC2    0.433022
DMDMARTL    0.433022
RIDEXPRG    0.871351
SIALANG     0.000000
SIAPROXY    0.000098
SIAINTRP    0.000000
FIALANG     0.011892
FIAPROXY    0.011892
FIAINTRP    0.011892
MIALANG     0.281474
MIAPROXY    0.281376
MIAINTRP    0.281278
AIALANGA    0.379165
DMDHHSIZ    0.000000
DMDFMSIZ    0.000000
DMDHHSZA    0.000000
DMDHHSZB    0.000000
DMDHHSZE    0.000000
DMDHRGND    0.000000
DMDHRAGE    0.000000
DMDHRBR4    0.029189
DMDHREDU    0.028894
DMDHRMAR    0.012088
DMDHSEDU    0.474988
WTINT2YR    0.000000
WTMEC2YR    0.000000
SDMVPSU     0.000000
SDMVSTRA    0.000000
INDHHIN2    0.013071
INDFMIN2    0.012088
INDFMPIR    0.077150
dtype: float64

In [13]:
to_keep = [
    'SEQN',     'SDDSRVYR', 'RIDSTATR', 'RIAGENDR', 
    'RIDAGEYR', 'RIDRETH1', 'RIDRETH3', 'RIDEXMON', 
    'RIDEXAGM', 'DMQMILIZ', 'DMDBORN4', 'DMDCITZN', 
    'DMDEDUC3', 'DMDEDUC2', 'DMDMARTL', 'SIALANG',  
    'SIAPROXY', 'SIAINTRP', 'FIALANG' , 'FIAPROXY', 
    'FIAINTRP', 'MIALANG' , 'MIAPROXY', 'MIAINTRP', 
    'AIALANGA', 'DMDHHSIZ', 'DMDFMSIZ', 'DMDHHSZA', 
    'DMDHHSZB', 'DMDHHSZE', 'DMDHRGND', 'DMDHRAGE', 
    'DMDHRBR4', 'DMDHREDU', 'DMDHRMAR', 'DMDHSEDU', 
    'WTINT2YR', 'WTMEC2YR', 'SDMVPSU' , 'SDMVSTRA', 
    'INDHHIN2', 'INDFMIN2', 'INDFMPIR'
]

In [15]:
DEMO_H = DEMO_H[to_keep]
DEMO_H.head()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,DMQMILIZ,...,DMDHREDU,DMDHRMAR,DMDHSEDU,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR
0,73557.0,8.0,2.0,1.0,69.0,4.0,4.0,1.0,NaN,1.0,...,3.0,4.0,NaN,13281.237386,13481.042095,1.0,112.0,4.0,4.0,0.84
1,73558.0,8.0,2.0,1.0,54.0,3.0,3.0,1.0,NaN,2.0,...,3.0,1.0,1.0,23682.057386,24471.769625,1.0,108.0,7.0,7.0,1.78
2,73559.0,8.0,2.0,1.0,72.0,3.0,3.0,2.0,NaN,1.0,...,4.0,1.0,3.0,57214.803319,57193.285376,1.0,109.0,10.0,10.0,4.51
3,73560.0,8.0,2.0,1.0,9.0,3.0,3.0,1.0,119.0,NaN,...,3.0,1.0,4.0,55201.178592,55766.512438,2.0,109.0,9.0,9.0,2.52
4,73561.0,8.0,2.0,2.0,73.0,3.0,3.0,1.0,NaN,2.0,...,5.0,1.0,5.0,63709.667069,65541.871229,2.0,116.0,15.0,15.0,5.00

In [16]:
DEMO_H.isnull().mean()

SEQN        0.000000
SDDSRVYR    0.000000
RIDSTATR    0.000000
RIAGENDR    0.000000
RIDAGEYR    0.000000
RIDRETH1    0.000000
RIDRETH3    0.000000
RIDEXMON    0.035577
RIDEXAGM    0.585946
DMQMILIZ    0.384668
DMDBORN4    0.000000
DMDCITZN    0.000393
DMDEDUC3    0.724521
DMDEDUC2    0.433022
DMDMARTL    0.433022
SIALANG     0.000000
SIAPROXY    0.000098
SIAINTRP    0.000000
FIALANG     0.011892
FIAPROXY    0.011892
FIAINTRP    0.011892
MIALANG     0.281474
MIAPROXY    0.281376
MIAINTRP    0.281278
AIALANGA    0.379165
DMDHHSIZ    0.000000
DMDFMSIZ    0.000000
DMDHHSZA    0.000000
DMDHHSZB    0.000000
DMDHHSZE    0.000000
DMDHRGND    0.000000
DMDHRAGE    0.000000
DMDHRBR4    0.029189
DMDHREDU    0.028894
DMDHRMAR    0.012088
DMDHSEDU    0.474988
WTINT2YR    0.000000
WTMEC2YR    0.000000
SDMVPSU     0.000000
SDMVSTRA    0.000000
INDHHIN2    0.013071
INDFMIN2    0.012088
INDFMPIR    0.077150
dtype: float64

In [17]:
DEMO_H_F = DEMO_H.sort_values(by='SEQN')
DEMO_H_F.head()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,DMQMILIZ,...,DMDHREDU,DMDHRMAR,DMDHSEDU,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR
0,73557.0,8.0,2.0,1.0,69.0,4.0,4.0,1.0,NaN,1.0,...,3.0,4.0,NaN,13281.237386,13481.042095,1.0,112.0,4.0,4.0,0.84
1,73558.0,8.0,2.0,1.0,54.0,3.0,3.0,1.0,NaN,2.0,...,3.0,1.0,1.0,23682.057386,24471.769625,1.0,108.0,7.0,7.0,1.78
2,73559.0,8.0,2.0,1.0,72.0,3.0,3.0,2.0,NaN,1.0,...,4.0,1.0,3.0,57214.803319,57193.285376,1.0,109.0,10.0,10.0,4.51
3,73560.0,8.0,2.0,1.0,9.0,3.0,3.0,1.0,119.0,NaN,...,3.0,1.0,4.0,55201.178592,55766.512438,2.0,109.0,9.0,9.0,2.52
4,73561.0,8.0,2.0,2.0,73.0,3.0,3.0,1.0,NaN,2.0,...,5.0,1.0,5.0,63709.667069,65541.871229,2.0,116.0,15.0,15.0,5.00

In [19]:
DEMO_H_F.tail()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,DMQMILIZ,...,DMDHREDU,DMDHRMAR,DMDHSEDU,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR
10170,83727.0,8.0,2.0,1.0,26.0,2.0,2.0,2.0,NaN,2.0,...,3.0,NaN,NaN,27141.631824,28115.568221,1.0,104.0,77.0,77.0,NaN
10171,83728.0,8.0,2.0,2.0,2.0,1.0,1.0,2.0,24.0,NaN,...,3.0,1.0,3.0,15274.475360,16512.138781,1.0,107.0,8.0,8.0,1.95
10172,83729.0,8.0,2.0,2.0,42.0,4.0,4.0,2.0,NaN,2.0,...,5.0,3.0,NaN,24122.248900,26902.344381,1.0,104.0,7.0,7.0,3.66
10173,83730.0,8.0,2.0,1.0,7.0,2.0,2.0,1.0,84.0,NaN,...,4.0,1.0,3.0,25521.878546,26686.025573,2.0,109.0,6.0,6.0,1.05
10174,83731.0,8.0,2.0,1.0,11.0,5.0,6.0,1.0,140.0,NaN,...,5.0,1.0,5.0,8930.180154,9700.873491,2.0,106.0,15.0,15.0,5.00

In [22]:
DEMO_H_F.to_csv('/home/cyborx/Projects/NHANES-CARIES-RESEARCH/data/clean/DEMO_H_CLEAN.csv')